<section class="signup-container">
    <h1 class="app-title">
        Sign Up
    </h1>
    <div class="box-container">
        <div class="box-padding">
            <h1>{{ 'authTr.signInYourAccount' | transloco }}</h1>
            <form class="space-y-4 md:space-y-6" [formGroup]="signUpForm" (ngSubmit)="onSubmit($event)">

                <div>
                    <label for="email">{{'authTr.yourEmail' | transloco }}</label>
                    <input type="email" formControlName="email" placeholder="{{'authTr.emailPlacehoder' | transloco }}">
                </div>
                <div>
                    <label for="password">{{'authTr.yourPassword' | transloco }}</label>
                    <input type="password" formControlName="password" placeholder="••••••••">
                </div>

                <button type="submit" class="w-full">{{'authTr.signIn' | transloco }}</button>
            </form>
        </div>
    </div>
</section>