.language-button{
    float:right;
    margin: 1rem;
    padding-right: 5px;

    & mat-icon{
        margin-top: 8px;
    }
    & span{
        top: -5px;
        position: relative;
        font-size: 1.4rem;
        padding: 5px;
        border-radius: 20px;
        @apply bg-gray-800;
    }
    &:hover{
        & span{
            @apply bg-gray-700;
        }
    }

    @apply text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700;
}