<section class="signin-container">
    <h1 class="app-title">
        <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
        {{'appNameTr' | transloco }}
    </h1>
    <div class="box-container">
        <div class="box-padding">
            <h1>{{ 'authTr.signInYourAccount' | transloco }}</h1>
            <form class="space-y-4 md:space-y-6" [formGroup]="signInForm">

                <div>
                    <label for="email">{{'authTr.yourEmail' | transloco }}</label>
                    <input type="email" formControlName="email" placeholder="{{'authTr.emailPlacehoder' | transloco }}">
                </div>
                <div>
                    <label for="password">{{'authTr.yourPassword' | transloco }}</label>
                    <input type="password" formControlName="password" placeholder="••••••••">
                </div>

                <div class="flex items-center justify-between">
                    <div class="flex items-start">
                        <div class="flex items-center h-5">
                            <input id="remember" type="checkbox">
                        </div>
                        <div class="ml-3 text-sm">
                            <label for="remember">{{'authTr.rememberMe' | transloco }}</label>
                        </div>
                    </div>
                    <a class="forgot-password">{{'authTr.forgotPassword'| transloco }}</a>
                </div>

                <button (click)="onSubmit()" class="w-full">{{'authTr.signIn' | transloco }}</button>
                <p class="text-sm">
                    {{'authTr.signUpText' | transloco }}
                    <a [routerLink]="['/auth/signup']" routerLinkActive="router-link-active">
                        {{'authTr.signUp' | transloco}}
                    </a>
                </p>
            </form>
        </div>
    </div>
</section>