<section class="signin-container">
    <h1 class="app-title">
        <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
        {{'appNameTr' | transloco }}
    </h1>
    <div class="box-container">
        <div class="box-padding">
            <h1>{{ 'authTr.forgotPassword' | transloco }}</h1>
            <form class="space-y-4 md:space-y-6" [formGroup]="emailForm">

                <div>
                    <label for="email">{{'authTr.forgotPasswordText' | transloco }}</label>
                    <input type="email" formControlName="email" placeholder="{{'authTr.emailPlacehoder' | transloco }}">
                </div>

                <button (click)="sentEmail()" class="w-full">{{'authTr.sendCode' | transloco }}</button>
            </form>
        </div>
    </div>
</section>